<div class="row" style="overflow:scroll!important;">
    <div class="col-md-12 card p-4 m-2">
        <h3 style="color:black!important">About us</h3>
        <hr>
        <p style="text-align:justify!important;color:black!important">Dynamo Technology was born as a company that seeks not only to systematize and automate individual professionals but to entire industries and production chains and their methods of obtaining customers, calculating data and statistics, our company goes beyond technological development, web or mobile that can be provided by any marketing agency, our company seeks to focus on those more demanding clients who look for custom developments with project proposals that perform data acquisition services in real time, ie statistics in real time, automation of prices in local currency according to the price of the dollar among many other unique characteristics of our customized developments.<br/>
        <br/>Initially we offer E-Commerce development services (Electronic Stores) that seek to internationalize your business reaching all over the world, with prices that can be automatically updated depending on you and your provider, which are recalculated every second to ensure that each sale be a profit.</p>        
    </div>
    <div class="col-md-4 card p-4 m-1">
        <h3 style="color:black!important">Let's go over there.</h3>
        <hr>
        <p style="text-align:justify!important;color:black!important">We offer to turn your store into something more than a web application, into a customized mobile application tailored to your needs.</p>        
    </div>
    <div class="col-md-4 card p-4 m-1">
        <h3 style="color:black!important">Greater Reach</h3>
        <hr>
        <p style="text-align:justify!important;color:black!important">We grow your customer base with our innovative methods of network marketing, so that your store is not only searched, but demanded.</p>        
    </div>
    <div class="col-md-4 card p-4 m-1">
        <h3 style="color:black!important">Planning and Future Projection</h3>
        <hr>
        <p style="text-align:justify!important;color:black!important">We offer support and advice according to market analysis in the sales area to help you make good decisions that not only increase the profits of your company but also help you evolve in the market you manage as well as offering you free access to mass marketing mail to our collective database of customers and partners.</p>        
    </div>
</div>
