<!--Carousel Wrapper-->
<div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <!--First slide-->
    <div class="carousel-item pt-3 pb-4 active">
      <img src="LOGO-DYNAMO.svg" class="img-fluid mx-auto w-50" alt="">
      <hr class="hr-light my-4 w-75">
      <h4 class="subtext-header mt-2 mb-4">A company dedicated to the development of new technologies for companies and industries of all types of items.</h4>
      <a href="#!" class="btn btn-rounded btn-outline-white">
        <i class="fa fa-shopping-cart pr-2"></i> Quote Services</a>
    </div>
    <!--/First slide-->
    <!--Second slide-->
    <div class="carousel-item text-body pt-3 pb-4">
        <div class="col-md-12 card text-dark">
      <div class="row pt-3 pb-3 pl-3 p-3 card">
      <div class="col-md-12">
        <h3>Introduction</h3>
        <hr>
        <p class="text-justify">Dynamo Technology was born as a company that seeks not only to systematize and automate individual professionals but to entire industries and production chains and their methods of obtaining customers, calculating data and statistics, our company goes beyond technological development, web or mobile that can be provided by any marketing agency, our company seeks to focus on those more demanding clients who look for custom developments with project proposals that perform data acquisition services in real time, ie statistics in real time, automation of prices in local currency according to the price of the dollar among many other unique characteristics of our customized developments.<br/><br/>we offer E-Commerce development services (Electronic Stores) that seek to internationalize your business reaching all over the world, with prices that can be automatically updated depending on you and your provider, which are recalculated every second to ensure that each sale be a profit.</p>
      </div>
      <div class="row">
      <div class="col-md-6">
        <h3>Mission</h3>
        <hr>
        <p class="text-justify"></p> 
      </div>
      <div class="col-md-6">
        <h3>View</h3>
        <hr>
        <p class="text-justify"></p>
      </div>
      </div>
    </div>
  </div>

  </div>
    <!--/Second slide-->
    <!--Third slide-->
    <div class="carousel-item pt-3 pb-4">
      <div class="col-md-12 card text-dark">
      <div class="row pt-3">
        <div class="col-md-12">
          <h3>About us</h3>
          <hr>
          <p class="text-justify"></p>        
        </div>
      </div>
    </div>
    </div>
    <!--/Third slide-->
  </div>
  <ol class="carousel-indicators" style="bottom: auto;">
    <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-1z" data-slide-to="1"></li>
    <li data-target="#carousel-example-1z" data-slide-to="2"></li>
  </ol>
</div>