/* Required for full background image */

html,
body,
header,
#intro-section {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  #intro-section {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #563e91 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #563e91 !important;
  }
}

.rgba-gradient {
  background: -moz-linear-gradient(45deg, rgba(255, 0, 0, 0.2), rgba(13, 17, 198, 0) 100%);
  background: -webkit-linear-gradient(45deg, rgba(255, 0, 0, 0.2), rgba(13, 17, 198, 0) 100%);
  background: linear-gradient(45deg, rgba(255, 0, 0, 0.2), rgba(13, 17, 198, 0) 100%);
}