<img src="logo.png" class="img-fluid mx-auto" alt="">
                  <hr class="hr-light my-4 w-75">
                  <h4 class="subtext-header mt-2 mb-4">A company dedicated to the development of new technologies for companies and industries of all types of items in and out of Colombia.</h4>
                  <a href="#!" class="btn btn-rounded btn-outline-white">
                    <i class="fa fa-shopping-cart pr-2"></i> Quote Services</a>